{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">基础设置</li>
        </ol>
        <form id="member_form" class="form-horizontal" action="/users/submitMembersAdd" method="post" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">基础设置</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="start_time" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 营业开始时间
                            </label>

                            <div class="col-sm-8">
                                <input type="time" class="form-control" id="start_time" name="start_time"
                                       placeholder="营业开始时间" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="end_time" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 营业结束时间
                            </label>

                            <div class="col-sm-8">
                                <input type="time" class="form-control" id="end_time" name="end_time"
                                       placeholder="营业结束时间" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group sc-ui-submit">
                            <div class="col-sm-offset-4 col-sm-8">
                                <p class="sc-submit-tips"></p>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span> 保 存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
