<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>万维体育 wanweitiyu.com - 智能场馆运营的革命</title>

    <meta name="description" content="">
    <meta name="keywords" content="万维体育,wanweitiyu,智能体育场馆,体育场馆,预订,收银,万维">
    <meta name="author" content="北京万维体育">

    <link href="/public/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/public/lib/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="/public/lib/jquery/easy-responsive-tabs.css" rel="stylesheet">
    <link href="/public/style/dashboard/dashboard_win8.css" rel="stylesheet">

    <script src="/public/lib/jquery/jquery-1.12.3.min.js"></script>
    <script src="/public/lib/jquery/jquery.lightbox.js"></script>
    <script src="/public/lib/jquery/easyResponsiveTabs.js"></script>
</head>
<body>
<div class="logocontainer">
    <div class="row">
        <h1>
            <a href="javascript:;" class="logo">
                <img src="/public/images/logo/logo.png" alt="logo">
                <span style="display: none;">万为体育</span>
            </a>
        </h1>
        <div class="templatemo_smalltitle">借力互联网大数据技术，助推体育资源的整合优化，提供最优质的体育服务。</div>
        <div class="clear"></div>
    </div>
</div>

<div id="menu-container" class="main_menu">
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_mainservice templatemo_botgap">
                    <div class="templatemo_link">
                        <a class="show-2 templatemo_page2" href="/">会员管理</a>
                    </div>
                </div>
                <div class="templatemo_mainimg">
                    <img src="/public/images/dashboard/templatemo_home1.jpg" alt="会员管理">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap">
                    <img src="/public/images/dashboard/templatemo_home2.jpg" alt="商品管理">
                </div>
                <div class="templatemo_mainportfolio">
                    <div class="templatemo_link">
                        <a class="show-3 templatemo_page3" href="/">商品管理</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                    <div class="templatemo_link">
                        <a class="show-4 templatemo_page4" href="javascript:;">场地预订</a>
                    </div>
                </div>
                <div class="templatemo_mainimg">
                    <img src="/public/images/dashboard/templatemo_home3.jpg" alt="场地预订">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_mainimg templatemo_botgap templatemo_topgap">
                    <img src="/public/images/dashboard/templatemo_home4.jpg" alt="数据统计">
                </div>
                <div class="templatemo_mainabout templatemo_botgap">
                    <div class="templatemo_link">
                        <a class="show-5 templatemo_page5" href="/">数据统计</a>
                    </div>
                </div>
                <div class="templatemo_maincontact">
                    <div class="templatemo_link">
                        <a class="show-6 templatemo_page6" href="javascript:;">关于我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonial start -->
    <div class="content testimonial" id="menu-4">
        <div class="container">
            <div class="row templatemo_bordergapborder">
                <!--vertical Tabs-->
                <div id="cmt">
                    <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
                        <ul class="resp-tabs-list templatemo_testitab">
                            <li>电话预订</li>
                            <li>现场预订</li>
                            <li>批量预订</li>
                        </ul>
                        <div class="templatemo_aboutlinkwrapper">
                            <div class="templatemo_link">
                                <a class="show-1 templatemo_hometestimonial" href="javascript:;">返回桌面</a>
                            </div>
                        </div>
                    </div>
                    <div class="resp-tabs-container templatemo_testicontainer">
                        <div>
                            <div class="templatemo_col50 templatemo_rightgap_about">
                                <div class="templatemo_graybg templatemo_botgap">
                                    <div class="templatemo_frame">
                                        <h2>电话预订</h2>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
                                <img src="/public/images/dashboard/templatemo_testimonial1.jpg" alt="电话预订">
                            </div>
                        </div>
                        <div>
                            <div class="templatemo_col50 templatemo_rightgap_about">
                                <div class="templatemo_graybg templatemo_botgap">
                                    <div class="templatemo_frame">
                                        <h2>现场预订</h2>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
                                <img src="/public/images/dashboard/templatemo_testimonial2.jpg" alt="现场预订">
                            </div>
                        </div>
                        <div>
                            <div class="templatemo_col50 templatemo_rightgap_about">
                                <div class="templatemo_graybg templatemo_botgap">
                                    <div class="templatemo_frame">
                                        <h2>批量预订</h2>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
                                <img src="/public/images/dashboard/templatemo_testimonial3.jpg" alt="批量预订">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial end -->

    <!-- contact start -->
    <div class="content contact" id="menu-6">
        <div class="container">
            <div class="row templatemo_bordergapborder">
                <div class="col-md-3 col-sm-12 templatemo_leftgap">
                    <div class="templatemo_mainimg templatemo_botgap">
                        <img src="/public/images/dashboard/templatemo_contact1.jpg" alt="联系我们">
                    </div>
                    <div class="templatemo_maincontact templatemo_botgap">
                        <div class="templatemo_linkcontact">
                            <a class="show-1 templatemo_homecontact" href="javascript:;">返回桌面</a>
                        </div>
                    </div>
                </div>

                <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
                    <div class="templatemo_graybg templatemo_paddinggap">
                        <h2>联系我们</h2>
                        <div class="clear"></div>
                        <form role="form">
                            <div class="templatemo_form">
                                <input name="fullname" type="text" class="form-control" id="fullname" placeholder="您的姓名?" maxlength="40">
                            </div>
                            <div class="templatemo_form">
                                <input name="mobile" type="text" class="form-control" id="mobile" placeholder="您的手机号?" maxlength="40">
                            </div>
                            <div class="templatemo_form">
                                <input name="subject" type="text" class="form-control" id="subject" placeholder="咨询的主题?" maxlength="60">
                            </div>
                            <div class="templatemo_form">
                                <textarea name="message" class="form-control" id="message" placeholder="咨询的详情描述..."></textarea>
                            </div>
                            <div class="templatemo_form"><button type="button" class="btn btn-primary">发送信息</button></div>
                        </form>
                    </div>
                </div>
                <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                    <div class="templatemo_graybg templatemo_paddinggap">
                        <h2>公司地址</h2>
                        <div class="clear"></div>
                        <div class="templatemo_contactmap">
                            <div id="templatemo_map">
                                <img src="/public/images/dashboard/map.png">
                            </div>
                        </div>
                        <div class="templatemo_address">
                            北京市万为区万维路100号万为大厦<br>
                            电话: 010-020-0340 邮箱: info@company.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->
</div>

<div class="logo-container">
    <div class="row">
        <div class="templatemo_footer">Copyright © 2016 北京万为体育管理股份公司</div>
    </div>
</div>
<script>
    $('#horizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true, // 100% fit in a container
        closed: 'accordion', // Start closed if in accordion view
        activate: function(event) { // Callback function if tab is switched
            var $tab = $(this);
            var $info = $('#tabInfo');
            var $name = $('span', $info);

            $name.text($tab.text());

            $info.show();

        }
    });

    $('#ab').easyResponsiveTabs({
        type: 'vertical',
        width: 'auto',
        fit: true
    });


    $('#cmt').easyResponsiveTabs({
        type: 'vertical',
        width: 'auto',
        fit: true
    });

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                'callback=initialize';
        document.body.appendChild(script);
    }

    $(".main_menu a.templatemo_hometestimonial").click(function(){
        $('#menu-container .testimonial').fadeOut(1000, function(){
            $('#menu-container .homepage').fadeIn(1000);
        });
        return false;
    });

    $(".main_menu a.templatemo_page4").click(function(){
        $('#menu-container .homepage').fadeOut(1000, function(){
            $('#menu-container .testimonial').fadeIn(1000);
        });
        return false
    });

    $(".main_menu a.templatemo_homecontact").click(function(){
        $('#menu-container .contact').fadeOut(1000, function(){
            $('#menu-container .homepage').fadeIn(1000);
        });
        return false;
    });

    $(".main_menu a.templatemo_page6").click(function(){
        $('#menu-container .homepage').fadeOut(1000, function(){
            $('#menu-container .contact').fadeIn(1000);
        });
    });
</script>
</body>
</html>