@charset "utf-8"

body
    min-height 100%
    padding-bottom 16px

.modal
    .modal-header
        h3
            font-size 16px

/*  Header starts  */
.ww-header
    border-top none
    background-color #262626
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#696969), color-stop(85%, #262626), to(#2d2d2d))
    background-image -webkit-linear-gradient(#696969, #262626 85%, #2d2d2d)
    background-image -moz-linear-gradient(top, #696969, #262626 85%, #2d2d2d)
    background-image -o-linear-gradient(#696969, #262626 85%, #2d2d2d)
    background-image linear-gradient(#696969, #262626 85%, #2d2d2d)
    background-repeat no-repeat
    height 70px
    line-height 70px
    vertical-align middle
    width 100%
    position relative
    .logo
        max-width 120px
        padding-left 20px
        &:hover
            opacity: 0.7
    .dropdown-menu
        li
            a
                background-color #3187bf
                color #fff
    .mini-nav
        float right
        line-height 24px
        margin 30px 20px 0 0
        li
            padding 0 10px
            float left
            position relative
            a
                color #eeeeee
                font-size 11px
            .info-label
                height 14px
                border-radius 8px
                line-height 8px
                position absolute
                top -10px
                right 2px
                text-align center
                padding 4px 5px
                font-size 11px
    .btn-group
        float right
        line-height 24px
        margin 20px 20px 0 0

/* Navigation starts  */
.ww-navigator
    .navigator-main
        margin-bottom 0
        position absolute
        top 24px
        right 280px
        ul
            li
                width 95px
                float left
                margin-right 1px
                a
                    -webkit-border-radius 4px 4px 0 0
                    border-radius 4px 4px 0 0
                    background-color #e4e4e4
                    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), color-stop(85%, #ebebeb), to(#cccccc))
                    background-image -webkit-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc)
                    background-image -moz-linear-gradient(top, #f2f2f2, #ebebeb 85%, #cccccc)
                    background-image -o-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc)
                    background-image linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc)
                    background-repeat no-repeat
                    text-align center
                    height 46px
                    display block
                    padding 6px 10px
                    text-transform uppercase
                    color #666666
                    font-size 10px
                    &:hover
                        color #3693cf
                .selected
                    -webkit-border-radius 4px 4px 0 0
                    -moz-border-radius 4px 4px 0 0
                    border-radius 4px 4px 0 0
                    background #3693cf
                    color #fff
                    text-shadow 1px 1px 1px #1f5a80
                    &:hover
                        background #3693cf
                        color #fff
                        text-shadow 1px 1px 1px #1f5a80
    .navigator-sub
        background-color #3187bf
        background-image -webkit-gradient(linear, 0 0, 0 100%, from(#3693cf), color-stop(85%, #3693cf), to(#1f5a80))
        background-image -webkit-linear-gradient(#3693cf, #3693cf 85%, #1f5a80)
        background-image -moz-linear-gradient(top, #3693cf, #3693cf 85%, #1f5a80)
        background-image -o-linear-gradient(#3693cf, #3693cf 85%, #1f5a80)
        background-image linear-gradient(#3693cf, #3693cf 85%, #1f5a80)
        background-repeat no-repeat
        -webkit-border-radius 0 4px 0 0
        -moz-border-radius 0 4px 0 0
        border-radius 0 4px 0 0
        height 48px
        line-height 48px
        li
            float left
            margin-top 14px
            line-height 100%
            border-right 1px solid rgba(0, 0, 0, 0.2)
            a
                color white
                font-size 13px
                text-shadow none
                line-height 18px
                height 18px
                padding 2px 20px
                opacity 0.7
                &:hover
                    opacity 0.5
            &:last-of-type
                border-right none
            &:first-of-type
                border-right none
            .selected
                color black
            .heading
                font-size 16px
                line-height 16px
                padding 2px 20px
                padding-right 10px
                text-shadow none
                color white
                opacity 1

.ww-footer
    position fixed
    bottom 0
    width 100%
    background #3693cf
    color white
    height 46px
    font-weight normal
    line-height 30px
    font-size 10px
    padding 10px
    z-index 1
    -webkit-box-shadow 0 0 15px #1f5a80 inset
    -moz-box-shadow 0 0 15px #1f5a80 inset
    box-shadow 0 0 15px #1f5a80 inset

.ww-wrapper
    min-height 420px

