<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}万维体育 wanweitiyu.com - 智能场馆运营的革命{% endblock %}</title>

    <meta name="description" content="">
    <meta name="keywords" content="万维体育,wanweitiyu,智能体育场馆,体育场馆,预订,收银,万维">
    <meta name="author" content="北京万维体育">
    <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    {% block head %}
    <script src="/public/lib/html5shiv/html5.min.js"></script>
    <link href="/public/lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--STYLE_PLACEHOLDER-->
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% include "./partial/header.html" %}
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    <!--SCRIPT_PLACEHOLDER-->
    <script src="/public/lib/jquery/jquery-1.12.3.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/public/app/common/base.js"></script>
    <script>
        $(document).ready(function(){

            $(".ww-nav > li").not(".nav-home").hover(function () {
                $(this).addClass("nav-moon");
            }, function () {
                $(this).removeClass("nav-moon");
            });
        });
    </script>
    {% endblock %}
</body>
</html>
