@charset "utf-8"
@import "../base"

.ww-wrapper
    .dashboard-left
        margin-right 0
        .widget
            background #fafafa
            border 1px solid #e0dede
            clear both
            margin-top 0
            margin-bottom 30px
            -webkit-border-radius 3px
            -moz-border-radius 3px
            border-radius 3px
            .widget-header
                background-color #eaeaea
                /* Fallback Color */
                background-image -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaeaea))
                /* Saf4+, Chrome */
                background-image -webkit-linear-gradient(top, #fdfdfd, #eaeaea)
                /* Chrome 10+, Saf5.1+, iOS 5+ */
                background-image -moz-linear-gradient(top, #fdfdfd, #eaeaea)
                /* FF3.6 */
                background-image -ms-linear-gradient(top, #fdfdfd, #eaeaea)
                /* IE10 */
                background-image -o-linear-gradient(top, #fdfdfd, #eaeaea)
                /* Opera 11.10+ */
                background-image linear-gradient(top, #fdfdfd, #eaeaea)
                -webkit-border-radius 2px 2px 0 0
                -moz-border-radius 2px 2px 0 0
                border-radius 2px 2px 0 0
                border-bottom 1px solid #e0dede
                height 42px
                line-height 24px
                padding: 10px
        .title
                    color #333333
                    float left
                    font-weight bold
                    font-size 16px
                    .mini-title
                        font-size 10px
                        padding-left 4px
                        color #b3b3b3
                        font-weight normal
                .tools
                    padding 0
                    float right
                    margin 0
                .tools > a
                    display inline-block
                    margin-right 5px
                    color #666666
                    margin-top 3px
                .tools > a:hover
                    text-decoration none
                    opacity .6
            .widget-body
                padding 10px
                border-bottom 1px solid #b3b3b3
                -webkit-border-radius 0 0 2px 2px
                -moz-border-radius 0 0 2px 2px
                border-radius 0 0 2px 2px
                .breadcrumb-beauty
                    li:nth-child(7)
                    li:nth-child(8)
                    li:nth-child(9)
                    li:nth-child(10)
                        display none
    .dashboard-right
        display none