<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>万维体育 wanweitiyu.com - 智能场馆运营的革命</title>

    <meta name="description" content="">
    <meta name="keywords" content="万维体育,wanweitiyu,智能体育场馆,体育场馆,预订,收银,万维">
    <meta name="author" content="北京万维体育">
    <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="/public/lib/html5shiv/html5.min.js"></script>
    <link href="/public/lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/style/passport/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row ww-login">
        <div class="login">
            <div class="col-md-6 login-brief">
                <img src="/public/images/logo.png">
                <p>借力互联网大数据技术，助推体育资源的整合优化，打造最优质服务的运营平台。</p>
            </div>
            <div class="col-md-6 login-form">
                <form action="/pp/UserLogin?return_url=<%= return_url %>" method="POST" autocomplete="off" novalidate="novalidate">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密码">
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary login-btn">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/public/lib/jquery/jquery-1.12.3.min.js"></script>
<script src="/public/lib/bootstrap/bootstrap.min.js"></script>
<script>
</script>
</body>
</html>
