{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/reservations/reservations_venue_types.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% include "../partial/nav.html" %}
<div class="ww-wrapper">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-body">
                    <div class="types-add">
                        <form class="form-horizontal no-margin">
                            <div class="control-group">
                                <label class="control-label">场地类型</label>
                                <div class="controls">
                                    <input type="text" class="span12" placeholder="场地类型">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">单价/小时</label>
                                <div class="controls controls-row">
                                    <input type="text" class="span12" placeholder="单价/小时">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">预订押金</label>
                                <div class="controls controls-row">
                                    <input type="text" class="span12" placeholder="预订押金">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">开放时间</label>
                                <div class="controls controls-row">
                                    <input class="span6" type="time">
                                    <input class="span6 input-left-top-margins" type="time">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/" class="btn btn-info"> 确定</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="types-list">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th style="width:20%">场地类型</th>
                                <th style="width:20%">单价/小时</th>
                                <th style="width:20%">预订押金</th>
                                <th style="width:20%">开放时间</th>
                                <th style="width:20%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>羽毛球</td>
                                <td>40</td>
                                <td>0</td>
                                <td>06:00-23:00</td>
                                <td>
                                    <a href="javascript:;" class="btn btn-info">
                                        <i class=" icon-white icon-redo-2"></i> 编辑
                                    </a>
                                    <button type="button" class="btn btn-warning2">
                                        <i class=" icon-white icon-remove-2"></i> 删除
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>网球</td>
                                <td>40</td>
                                <td>0</td>
                                <td>06:00-23:00</td>
                                <td>
                                    <a href="javascript:;" class="btn btn-info">
                                        <i class=" icon-white icon-redo-2"></i> 编辑
                                    </a>
                                    <button type="button" class="btn btn-warning2">
                                        <i class=" icon-white icon-remove-2"></i> 删除
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>游泳</td>
                                <td>40</td>
                                <td>0</td>
                                <td>06:00-23:00</td>
                                <td>
                                    <a href="javascript:;" class="btn btn-info">
                                        <i class=" icon-white icon-redo-2"></i> 编辑
                                    </a>
                                    <button type="button" class="btn btn-warning2">
                                        <i class=" icon-white icon-remove-2"></i> 删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
