<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>万维体育 wanweitiyu.com - 智能场馆运营的革命</title>

    <meta name="description" content="">
    <meta name="keywords" content="万维体育,wanweitiyu,智能体育场馆,体育场馆,预订,收银,万维">
    <meta name="author" content="北京万维体育">
    <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link type="text/css" rel="stylesheet" href="/public/lib/jquery/dashboard/css.css"/>
    <link type="text/css" rel="stylesheet" href="/public/lib/jquery/dashboard/jquery.tool.css"/>
    <link type="text/css" rel="stylesheet" href="/public/lib/jquery/dashboard/smartMenu.css"/>
    <script type="text/javascript" src="/public/lib/jquery/dashboard/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/public/lib/jquery/dashboard/jquery.tool.js"></script>
    <script type="text/javascript" src="/public/lib/jquery/dashboard/shortcut.js"></script>
    <script type="text/javascript" src="/public/lib/jquery/dashboard/templates.js"></script>
    <script type="text/javascript" src="/public/lib/jquery/dashboard/jquery-smartMenu.js"></script>
    <script type="text/javascript" src="/public/lib/jquery/dashboard/core.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            document.body.onselectstart = document.body.ondrag = function () {
                return false;
            };
            Core.init();
        });
    </script>
</head>
<body id="lxcn"
      style="background:url(/public/images/dashboard/background.jpg) repeat right bottom transparent;">
    <div id="task-bar">
        <ul class="task-window"></ul>
        <ul class="task-panel">
            <li class="sys" title="系统设定"><b>系统设定</b></li>
        </ul>
    </div>
    <div id="desk"><ul></ul></div>
    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
        <p>适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. </p>
        <p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
    </div>
</body>
</html>