{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <p>管理员, 早上好, 欢迎使用万为体育管理运营平台, <a href="" class="btn btn-link">账号设置</a></p>
        <p>您上次登录的时间是2015-04-21 11:11:43 (不是您登录的, <a href="">修改密码</a>)</p>
        <div class="daily-work">
            <div>
                <a href="javascript:;" class="btn btn-info">日常工作</a>
                <a href="javascript:;" class="btn btn-info">日结报表</a>
                <a href="javascript:;" class="btn btn-info">资源管理</a>
                <a href="javascript:;" class="btn btn-info">会员设置&管理</a>
                <a href="javascript:;" class="btn btn-info">财务报表</a>
                <a href="javascript:;" class="btn btn-info">系统设置&权限管理</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
