{% extends '../layout_new.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% include '../partial/header_sub.html' %}
<div class="container-fluid">
    <div class="ww-wrapper">
        <div class="wrapper">
            <p><%= user.sale_name %>, 您好, 欢迎使用万为体育管理运营平台, <a href="" class="btn btn-link">账号设置</a></p>
            <p>您上次登录的时间是<%= user.last_date %> (不是您登录的, <a href="">修改密码</a>)</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
