<header class="navbar navbar-static-top" style="background: #f9f9f9;margin-bottom: 0;border: none;border-radius: 0;">
    <div class="container">
        <div class="navbar-header">
            <a href="javascript:;" class="navbar-brand" style="padding: 6px;">
                <img src="/public/images/logo/logo.png.png" style="height: 100%">
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:;">工作平台</a>
                </li>
                <li class="active" style="background: #428bca;">
                    <a href="" style="color: #fff;">会员管理</a>
                </li>
                <li>
                    <a href="">场地预订</a>
                </li>
                <li>
                    <a href="">商品管理</a>
                </li>
                <li>
                    <a href="">数据统计</a>
                </li>
                <li>
                    <a href="">系统设置</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" target="_blank">系统消息</a>
                </li>
                <li>
                    <a href="" target="_blank">个人中心</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
