<header class="ww-header">
    <div class="header">
        <div class="ww-logo">
            <img src="/public/images/logo.png" class="logo-icon">
        </div>
        <ul class="ww-nav">
            <li class="nav-home">
                <a href="/">
                    <img src="/public/images/navigator/home.png">
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/public/images/navigator/users.png">
                    <span>会员管理</span>
                </a>
                <ul class="nav-sub">
                    <li><a href="/">会员列表</a></li>
                    <li><a href="/">会员添加</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/public/images/navigator/venue.png">
                    <span>场地预订</span>
                </a>
                <ul class="nav-sub">
                    <li><a href="/venue/sequence">单次预订</a></li>
                    <li><a href="#">批量预订</a></li>
                    <li><a href="#">包场预订</a></li>
                    <li><a href="/venue/sequencePDA">热点概率分析</a></li>
                    <li><a href="/venue/sports">场地类型</a></li>
                    <li><a href="/venue/sites">场地设置</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/public/images/navigator/cart.png">
                    <span>商品管理</span>
                </a>
                <ul class="nav-sub">
                    <li><a href="#">商品购买</a></li>
                    <li><a href="#">购物车</a></li>
                    <li><a href="#">商品列表</a></li>
                    <li><a href="#">商品添加</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/public/images/navigator/chart.png">
                    <span>数据统计</span>
                </a>
                <ul class="nav-sub">
                    <li><a href="#">场地营业时间</a></li>
                    <li><a href="#">会员消费记录</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/public/images/navigator/settings.png">
                    <span>系统设置</span>
                </a>
                <ul class="nav-sub">
                    <li><a href="#">数据库导入导出</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/public/images/navigator/user.png">
                    <span>个人中心</span>
                </a>
                <ul class="nav-sub">
                    <li><a href="#">完善信息</a></li>
                    <li><a href="#">密码修改</a></li>
                    <li><a href="#">消息记录</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
