<div class="navbar" style="background: #428bca;border: none;border-radius: 0;">
    <div class="container">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav" style="margin-left: 70px;">
                <li>
                    <a href="javascript:;" style="color: #fff;">项目一</a>
                </li>
                <li class="active">
                    <a href="" style="color: #fff;">会员管理</a>
                </li>
                <li>
                    <a href="" style="color: #fff;">场地预订</a>
                </li>
                <li>
                    <a href="" style="color: #fff;">商品管理</a>
                </li>
                <li>
                    <a href="" style="color: #fff;">数据统计</a>
                </li>
                <li>
                    <a href="" style="color: #fff;">系统设置</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
