<!-- 应用导航 -->
<div class="ww-navigator">
    <div class="navigator-main">
        <ul>
            <li>
                <a href="">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                    综合面板
                </a>
            </li>
            <li>
                <a href="">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                    会员管理
                </a>
            </li>
            <li>
                <a href="" class="selected">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                    场地预订
                </a>
            </li>
            <li>
                <a href="">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                    商品管理
                </a>
            </li>
            <li>
                <a href="">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>
                    数据统计
                </a>
            </li>
            <li>
                <a href="">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                    系统设置
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="navigator-sub">
        <ul>
            <li><a href="javascript:;" class="heading">场地预订</a></li>
            <li>
                <a href="/reservations/TimingSeries" class="selected">场地时序图</a>
            </li>
            <li>
                <a href="/reservations/HeatSeries">场地热点图</a>
            </li>
            <li>
                <a href="#todo">批量预订</a>
            </li>
            <li>
                <a href="#chats">活动包场</a>
            </li>
            <li>
                <a href="#notifications">帮助建议</a>
            </li>
        </ul>
    </div>
</div>
