@charset "utf-8"
@import "../base"

.modal
    overflow hidden
    height 336px
    .modal-body
        height 290px
        margin 0
        form
            padding-top 10px
            .control-group
                .span12
                    width 230px
                    height 30px
                .span6
                    width 100px
                    height 30px
.ww-wrapper
    .row-fluid
        margin-right 0
        .widget
            background #fafafa
            border 1px solid #e0dede
            clear both
            margin-top 0
            margin-bottom 30px
            -webkit-border-radius 3px
            -moz-border-radius 3px
            border-radius 3px
            .widget-body
                padding 10px
                border-bottom 1px solid #b3b3b3
                -webkit-border-radius 0 0 2px 2px
                -moz-border-radius 0 0 2px 2px
                border-radius 0 0 2px 2px
            .types-add
                margin-bottom 14px
                padding 0 10px
            .types-list
                padding 0 10px
                width 100%
                position relative
                overflow hidden
                table
                    td
                        vertical-align middle
                        .def-tpl
                            display block
                            color #3187bf
