@charset "utf-8"
@import "../base"

.modal
    overflow hidden
    height 300px
    .modal-body
        height 248px
        margin 0
        form
            padding-top 10px
            .control-group
                input
                select
                    width 270px
                    height 30px
#myModal2
    overflow hidden
    height 200px
    .modal-body
        height 148px
        margin 0
        form
            padding-top 10px
            .control-group
                input
                select
                    width 270px
                    height 30px

.ww-wrapper
    .row-fluid
        margin-right 0
        .widget
            background #fafafa
            border 1px solid #e0dede
            clear both
            margin-top 0
            margin-bottom 30px
            -webkit-border-radius 3px
            -moz-border-radius 3px
            border-radius 3px
            .widget-body
                padding 10px
                border-bottom 1px solid #b3b3b3
                -webkit-border-radius 0 0 2px 2px
                -moz-border-radius 0 0 2px 2px
                border-radius 0 0 2px 2px
            .settings-filter
                .control-group
                    float left
                    margin-left 40px
                    margin-bottom 10px
                    &.wd
                        min-width 370px
                    .control-label
                        width 100px
                        text-align left
                    .controls
                        margin-left 100px
            .settings-list
                padding 0 10px
                width 100%
                position relative
                overflow hidden
                table
                    td
                        vertical-align middle
