@charset "utf-8"
@import "../base"

.ww-wrapper
    .row-fluid
        margin-right 0
        .widget
            background #fafafa
            border 1px solid #e0dede
            clear both
            margin-top 0
            margin-bottom 30px
            -webkit-border-radius 3px
            -moz-border-radius 3px
            border-radius 3px
            .widget-body
                padding 10px
                border-bottom 1px solid #b3b3b3
                -webkit-border-radius 0 0 2px 2px
                -moz-border-radius 0 0 2px 2px
                border-radius 0 0 2px 2px
