@charset "utf-8"
@import "../base"

.ww-wrapper
    .row-fluid
        margin-right 0
        .widget
            background #fafafa
            border 1px solid #e0dede
            clear both
            margin-top 0
            margin-bottom 30px
            -webkit-border-radius 3px
            -moz-border-radius 3px
            border-radius 3px
            .widget-body
                padding 10px
                border-bottom 1px solid #b3b3b3
                -webkit-border-radius 0 0 2px 2px
                -moz-border-radius 0 0 2px 2px
                border-radius 0 0 2px 2px
            .timing-show
                padding 0 30px
                width 100%
                position relative
                overflow hidden
                .arrow-left
                    top 0
                    left 0
                    position absolute
                    width 40px
                    cursor pointer
                    height 100%
                    background #e4e4e4
                    &:hover
                        background #CCC
                    img
                        width 90%
                        position absolute
                        top 40%
                .arrow-right
                    top 0
                    right  0
                    position absolute
                    width 40px
                    cursor pointer
                    height 100%
                    background #e4e4e4
                    &:hover
                        background #CCC
                    img
                        width 90%
                        position absolute
                        top 40%
                table
                    margin-bottom 0
                    td
                        height 50px
                        width 80px
                        text-align center
                        vertical-align middle
                        padding 0
                        border-right 0
                        border-bottom 0
                        cursor pointer
                        &.phone
                            background url("/public/images/icons/phone.png") no-repeat 4px
                            background-size 20px
                        &.mobile
                            background url("/public/images/icons/mobile.png") no-repeat 4px
                            background-size 20px
                        &.computer
                            background url("/public/images/icons/computer.png") no-repeat 4px
                            background-size 20px
                        &.ordered
                            background-color #3187bf
                            color #fff
                        span
                            display block
    .dashboard-right
        display none