{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="active">会员类型设置</li>
        </ol>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-inline col-sm-8">
                        <div class="form-group">
                            <select class="form-control" style="width:200px;">
                                <option value="">全部状态</option>
                                <option value="1">正常</option>
                                <option value="2">锁定</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="javascript:;" class="btn btn-info">
                                <span class="glyphicon glyphicon-filter"></span> 筛选 / 显示
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                            <span class="glyphicon glyphicon-plus"></span> 增加会员类型
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive card-type-list">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>会员类别</th>
                                <th>会员周期</th>
                                <th>每周限制</th>
                                <th>时间限制</th>
                                <th>会员折扣</th>
                                <th>价格(元)</th>
                                <th>状态</th>
                                <th>操作人</th>
                                <th>操作时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for type in card_types %}
                            <tr>
                                <td>
                                    <a class="type-item" href="#addModal" data-toggle="modal" data-id="<%= type.id %>">
                                        <%= type.card_type_name %>
                                    </a>
                                </td>
                                <td><%= type.card_type_month %></td>
                                <td><%= type.card_type_week %></td>
                                <td><%= type.card_type_time_start %> - <%= type.card_type_time_end %></td>
                                <td><%= type.card_type_discount %>折</td>
                                <td><%= type.card_type_money %></td>
                                <td><%= type.card_type_status %></td>
                                <td><%= type.sale_id %></td>
                                <td><%= type.update_time %></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModel" tabindex="-1" role="dialog" aria-labelledby="confirmSmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmSmallModalLabel">提示框</h4>
            </div>
            <div class="modal-body">
                <p>您确定要删除这条设置记录?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> 确 认
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> 关 闭
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">增加类型</h4>
            </div>
            <div class="modal-body" style="overflow: hidden;">
                <form id="card_type_form" class="form-horizontal" action="" method="post" novalidate onsubmit="return false;">
                    <div class="form-group">
                        <label for="card_type_name" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 会员类别
                        </label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="card_type_name" name="card_type_name"
                                   placeholder="例如:普通会员,金卡会员" autocomplete="off"
                                   data-val="true" data-val-required="会员类别不能为空"
                                   data-val-regex-pattern="^[A-Za-z\u4e00-\u9fa5][A-Za-z0-9\u4e00-\u9fa5_]{1,5}$"
                                   data-val-regex="会员类别长度只能2~6个字符">
                            <div data-valmsg-for="card_type_name" data-valmsg-replace="true"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card_type_month" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 会员周期
                        </label>

                        <div class="col-sm-10">
                            <select class="form-control" id="card_type_month" name="card_type_month"
                                    data-val="true" data-val-required="请选择会员周期">
                                <option value="0">不限制</option>
                                <option value="1">1个月</option>
                                <option value="2">2个月</option>
                                <option value="3">3个月</option>
                                <option value="4">4个月</option>
                                <option value="5">5个月</option>
                                <option value="6">6个月</option>
                                <option value="7">7个月</option>
                                <option value="8">8个月</option>
                                <option value="9">9个月</option>
                                <option value="10">10个月</option>
                                <option value="11">11个月</option>
                                <option value="12">12个月</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card_type_week2" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 每周限制
                        </label>

                        <div class="col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week2" name="card_type_week" value="1" checked> 周一
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week3" name="card_type_week" value="2" checked> 周二
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week4" name="card_type_week" value="3" checked> 周三
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week5" name="card_type_week" value="4" checked> 周四
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week6" name="card_type_week" value="5" checked> 周五
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week7" name="card_type_week" value="6" checked> 周六
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="card_type_week8" name="card_type_week" value="7" checked> 周日
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card_type_time_start" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 时间限制
                        </label>

                        <div class="col-sm-5">
                            <select class="form-control" id="card_type_time_start" name="card_type_time_start">
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control" id="card_type_time_end" name="card_type_time_end">
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card_type_money" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 价格
                        </label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="card_type_money" name="card_type_money"
                                   placeholder="会员卡价格" autocomplete="off"
                                   data-val="true" data-val-required="会员卡价格不能为空"
                                   data-val-regex-pattern="^[1-9][0-9]*$"
                                   data-val-regex="会员卡价格只能是数字">
                            <div data-valmsg-for="card_type_money" data-valmsg-replace="true"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card_type_discount" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 会员折扣
                        </label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="card_type_discount" name="card_type_discount"
                                   placeholder="会员折扣" autocomplete="off"
                                   data-val="true" data-val-required="会员折扣不能为空"
                                   data-val-regex-pattern="^[0-9]|[1-9][0-9]$"
                                   data-val-regex="会员折扣只能是数字">
                            <div data-valmsg-for="card_type_discount" data-valmsg-replace="true"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card_type_status1" class="col-sm-2 control-label">
                            <span class="text-danger">*</span> 状态
                        </label>

                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="card_type_status1" name="card_type_status" value="1" checked> 正常
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="card_type_status2" name="card_type_status" value="2"> 锁定
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_card_type">
                    <span class="glyphicon glyphicon-ok"></span> 确 定
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
<script src="/public/lib/jquery/jquery-1.12.3.min.js"></script>
<script src="/public/app/members/members_category.js?__inline"></script>
{% endblock %}
