{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="active">会员列表</li>
        </ol>
        <div class="settings-filter">
            <form class="form-inline">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" placeholder="姓名">
                </div>
                <div class="form-group">
                    <label>手机号</label>
                    <input type="text" class="form-control" placeholder="手机号">
                </div>
                <div class="form-group">
                    <label>会员卡</label>
                    <input type="text" class="form-control" placeholder="会员卡">
                </div>
                <div class="form-group">
                    <a href="javascript:;" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span> 检索
                    </a>
                </div>
            </form>
            <div class="settings-list">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="width:10%">姓名</th>
                        <th style="width:20%">手机号</th>
                        <th style="width:20%">会员卡</th>
                        <th style="width:10%">余额(元)</th>
                        <th style="width:10%">副卡数</th>
                        <th style="width:10%">状态</th>
                        <th style="width:20%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>张三</td>
                        <td>11012345678</td>
                        <td>1101101010101010</td>
                        <td>1000</td>
                        <td>5</td>
                        <td>有效</td>
                        <td>
                            <a href="" class="btn btn-info">
                                <i class=" icon-white icon-redo-2"></i> 编辑
                            </a>
                            <button type="button" class="btn btn-warning2">
                                <i class=" icon-white icon-remove-2"></i> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
