{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">发票登记</li>
        </ol>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline col-sm-8" id="ticket_filter_form" onsubmit="return false;">
                        <div class="form-group">
                            <select class="form-control" style="width:200px;" name="invoice_state">
                                <option value="">发票状态</option>
                                <option value="1">未领取</option>
                                <option value="2">已领取</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="invoice_header"
                                   placeholder="发票抬头" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <a href="javascript:;" class="btn btn-primary ticket-filter">
                                <span class="glyphicon glyphicon-filter"></span> 筛选 / 显示
                            </a>
                        </div>
                    </form>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-primary ticket-print">
                            <span class="glyphicon glyphicon-ok"></span> 领取发票
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>发票抬头</th>
                                <th>发票金额</th>
                                <th>发票内容</th>
                                <th>备注</th>
                                <th>状态</th>
                                <th>打印时间</th>
                                <th>操作人</th>
                                <th>登记时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ticket in tickets %}
                            <tr>
                                {% if ticket.invoice_state == 1 %}
                                <td></td>
                                {% else %}
                                <td>
                                    <label><input type="checkbox" name="ticket_id" value="<%= ticket.id %>"></label>
                                </td>
                                {% endif %}
                                <td><%= loop.index %></td>
                                <td><%= ticket.invoice_header %></td>
                                <td><%= ticket.invoice_money %></td>
                                <td><%= ticket.invoice_content %></td>
                                <td><%= ticket.invoice_remark %></td>
                                {% if ticket.invoice_state == 1 %}
                                <td class="text-success">已领取</td>
                                <td class="text-success"><%= ticket.print_time %></td>
                                {% else %}
                                <td class="text-danger">未领取</td>
                                <td>--</td>
                                {% endif %}
                                <td><%= ticket.sale_id %></td>
                                <td><%= ticket.create_time %></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <nav class="pull-right">
                            <p class="pull-left" style="margin: 24px 14px;">
                                <span><%= pagination.pageSize %>条/页</span>
                                <span>总<%= pagination.total %>条</span>
                            </p>
                            <ul class="pagination pull-right">
                                <li><a href="javascript:;"><span>首页</span></a></li>
                                <li><a href="javascript:;"><span>上一页</span></a></li>
                                <li><a href="javascript:;">1</a></li>
                                <li class="active"><a href="javascript:;">2</a></li>
                                <li><a href="javascript:;">3</a></li>
                                <li><a href="javascript:;">...</a></li>
                                <li><a href="javascript:;">11</a></li>
                                <li><a href="javascript:;">12</a></li>
                                <li><a href="javascript:;">13</a></li>
                                <li><a href="javascript:;">14</a></li>
                                <li><a href="javascript:;">15</a></li>
                                <li><a href="javascript:;"><span>下一页</span></a></li>
                                <li><a href="javascript:;"><span>末页</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
<script src="/public/app/members/users_members_ticket.js?__inline"></script>
{% endblock %}
