{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="/">会员查询</a></li>
            <li class="active">会员详情</li>
        </ol>
        <form id="user_form" class="form-horizontal" action="/users/membersAdd" method="post" novalidate
              onsubmit="return false;">
            <div class="panel panel-default">
                <div class="panel-heading">会员信息</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="user_no" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 会员卡号
                            </label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="user_no" name="memberid"
                                       placeholder="会员卡号" value="<%= data.memberid || 'FD000001' %>" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_mobile" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 手机号码
                            </label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="user_mobile" name="phone"
                                       placeholder="手机号码" autocomplete="off"
                                       data-val="true" data-val-required="手机号码不能为空"
                                       data-val-regex-pattern="^1\d{10}$"
                                       data-val-regex="手机号码格式错误"
                                       value="<%= data.users.phone || '11012345678' %>">
                                <div data-valmsg-for="phone" data-valmsg-replace="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bak_mobile" class="col-sm-4 control-label">备用手机</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="bak_mobile" name="bakphone"
                                       placeholder="备用手机号码" autocomplete="off"
                                       data-val="true" data-val-required="备用手机号码不能为空"
                                       data-val-regex-pattern="^1\d{10}$"
                                       data-val-regex="备用手机号码格式错误"
                                       value="<%= data.users.bakphone || '11034567890' %>">
                                <div data-valmsg-for="bakphone" data-valmsg-replace="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 会员姓名
                            </label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="user_name" name="membername"
                                       placeholder="会员姓名, 例: 张三" autocomplete="off"
                                       data-val="true" data-val-required="会员姓名不能为空"
                                       data-val-regex-pattern="^[A-Za-z\u4e00-\u9fa5][A-Za-z0-9\u4e00-\u9fa5_]{1,10}$"
                                       data-val-regex="会员姓名长度只能2~12个字符"
                                       value="<%= data.users.membername || '李洪旭' %>">
                                <div data-valmsg-for="membername" data-valmsg-replace="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_card" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 身份证号
                            </label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="user_card" name="idnumber"
                                       placeholder="18位身份证号" autocomplete="off"
                                       data-val="true" data-val-required="身份证号不能为空"
                                       data-val-regex-pattern="^\d{18}$|^\d{17}(\d|X|x)$"
                                       data-val-regex="身份证号格式错误"
                                       value="<%= data.users.idnumber || '131214198803051234' %>">
                                <div data-valmsg-for="idnumber" data-valmsg-replace="true"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_level" class="col-sm-4 control-label">
                                <span class="text-danger">*</span> 会员类型
                            </label>

                            <div class="col-sm-8">
                                <select class="form-control" id="user_level" name="memberlevel" disabled>
                                    <option value="">请选择</option>
                                    <option value="" selected>会费会员</option>
                                    <option value="">储值会员</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="user_address" class="col-sm-2 control-label">联系地址</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user_address" name="addr"
                                       placeholder="联系地址" value="<%= data.users.addr %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_comments" class="col-sm-2 control-label">备注</label>

                            <div class="col-sm-10">
                            <textarea class="form-control" id="user_comments" name="remarks" rows="3" placeholder="备注"
                                      value="<%= data.users.remarks || '测试会员' %>"><%= data.users.remarks || '测试会员' %></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">会员卡信息</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">会员折扣</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="94折" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">余额(元)</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="10000" disabled>
                                    <span class="input-group-btn">
                                        <a href="/users/membersOrders" class="btn btn-primary" title="购买明细">
                                            <span class="glyphicon glyphicon-th-list"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_mobile" class="col-sm-4 control-label">每周许可</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="周一,周二,周三,周四,周五,周六,周日" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">操作人</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="李晓丹" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">会员状态</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="有效" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_card" class="col-sm-4 control-label">有效期至</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="2016-12-23" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_mobile" class="col-sm-4 control-label">每日许可</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="08:00-18:00" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_card" class="col-sm-4 control-label">注册时间</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="2016-09-03" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group sc-ui-submit">
                            <div class="text-center">
                                <p class="sc-submit-tips"></p>
                                <a href="#gengxinModal" class="btn btn-primary" data-toggle="modal">
                                    <span class="glyphicon glyphicon-ok"></span> 更新会员信息
                                </a>
                                <a href="#chongzhiModal" class="btn btn-primary" data-toggle="modal">
                                    <span class="glyphicon glyphicon-usd"></span> 会员卡充值
                                </a>
                                <a href="#shengjiModal" class="btn btn-primary" data-toggle="modal">
                                    <span class="glyphicon glyphicon-flash"></span> 会员卡升级
                                </a>
                                <a href="#bubanModal" class="btn btn-primary" data-toggle="modal">
                                    <span class="glyphicon glyphicon-refresh"></span> 会员卡补办
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="bubanModal" tabindex="-1" role="dialog" aria-labelledby="bubanModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bubanModalLabel">会员卡补办</h4>
            </div>
            <div class="modal-body" style="clear: both;">
                <div class="panel panel-default form-horizontal">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">补办费用</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">支付方式</label>

                                <div class="col-sm-8">
                                    <select class="form-control" id="pay_type" name="pay_type">
                                        <option value="">请选择</option>
                                        <option value="">现金</option>
                                        <option value="">支付宝</option>
                                        <option value="">微信</option>
                                        <option value="">银行卡</option>
                                        <option value="">支票</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">会员卡号</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="FD000011" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">更换原因</label>

                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="">请选择</option>
                                        <option value="">丢失补办</option>
                                        <option value="">损坏更换</option>
                                        <option value="">升级更换</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="alert alert-info" role="alert">合计金额: 19元(会员折扣: 95折)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> 确认 & 收款
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chongzhiModal" tabindex="-1" role="dialog" aria-labelledby="chongzhiModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="chongzhiModalLabel">会员卡补办</h4>
            </div>
            <div class="modal-body" style="clear: both;">
                <div class="panel panel-default form-horizontal">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">充值金额</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">支付方式</label>

                                <div class="col-sm-8">
                                    <select class="form-control" name="pay_type">
                                        <option value="">请选择</option>
                                        <option value="">现金</option>
                                        <option value="">支付宝</option>
                                        <option value="">微信</option>
                                        <option value="">银行卡</option>
                                        <option value="">支票</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="alert alert-info" role="alert">合计金额: 19元(会员折扣: 95折)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> 确认 & 收款
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shengjiModal" tabindex="-1" role="dialog" aria-labelledby="shengjiModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="shengjiModalLabel">会员卡升级</h4>
            </div>
            <div class="modal-body" style="clear: both;">
                <div class="panel panel-default form-horizontal">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="user_level" class="col-sm-4 control-label">会员类型</label>

                                <div class="col-sm-8">
                                    <select class="form-control" id="user_level" name="memberlevel">
                                        <option value="" selected>会费会员</option>
                                        <option value="">储值会员</option>
                                    </select>
                                    <div data-valmsg-for="memberlevel" data-valmsg-replace="true"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">会员折扣</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="95折" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_mobile" class="col-sm-4 control-label">每周许可</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="一,二,三,四,五,六,日" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">升级费用</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">价格(元)</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="1000" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_card" class="col-sm-4 control-label">有效期至</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="2016-12-23" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_mobile" class="col-sm-4 control-label">每日许可</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="08:00-18:00" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">支付方式</label>

                                <div class="col-sm-8">
                                    <select class="form-control" name="pay_type">
                                        <option value="">请选择</option>
                                        <option value="">现金</option>
                                        <option value="">支付宝</option>
                                        <option value="">微信</option>
                                        <option value="">银行卡</option>
                                        <option value="">支票</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="alert alert-info" role="alert">合计金额: 0元(会员折扣: 95折)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> 确认 & 收款
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gengxinModal" tabindex="-1" role="dialog" aria-labelledby="gengxinModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gengxinModalLabel">会员信息更新</h4>
            </div>
            <div class="modal-body">
                <p>会员信息更新成功!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
<script>
</script>
{% endblock %}
