{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/home/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="ww-wrapper">
    <div class="wrapper">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">会员注册统计</li>
        </ol>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control" style="width: 200px;">
                                <option value="0">今日数据</option>
                                <option value="1">昨日数据</option>
                                <option value="2">当前周数据</option>
                                <option value="3">当前月数据</option>
                            </select>
                        </div>
                        <a href="javascript:;" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> 筛选 / 显示
                        </a>
                        <a href="javascript:;" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-export"></span> 导出数据
                        </a>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>会员类型</th>
                                <th>单价(元)</th>
                                <th>销售数量(个)</th>
                                <th>销售金额(元)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in data %}
                            <tr>
                                <td><%= loop.index %></td>
                                <td><%= d.card_type_name %></td>
                                <td><%= d.card_type_money %></td>
                                <td><%= d.card_type_num %></td>
                                <td><%= d.card_type_total %></td>
                            </tr>
                            {% endfor %}
                            <tr class="info">
                                <th></th>
                                <th></th>
                                <th>合计</th>
                                <th><%= total.card_type_num_total %></th>
                                <th><%= total.card_type_total_total %></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
